header {
    padding: 20px;
    width:auto;
    padding-top: 20px;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
}
.container{
    width: 960px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;

footer{
    width: 100%;
    height: 20%
    float: left;
    background-color: #717171;
}
